.bottle-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.bottle-cart {
  border: 2px solid magenta;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
.img {
  height: 250px;
}

.btn {
  border: 2px solid red;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
.btl {
  text-align: center;
  font-weight: semibold;
}
